In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# two matrics
array1 = np.array([[5, 9, 3],[3, 7, 5]])
array2 = np.array([[3,-9],[5, 4],[7, -8]])
print(nparr1)
print(nparr2)

[[5 9 3]
 [3 7 5]]
[[ 3 -9]
 [ 5  4]
 [ 7 -8]]

In [ ]:
randomly initialize array
array = np.random.rand(3, 4)
print(array)

[[0.76810286 0.40448179 0.10986688 0.85349965]
 [0.12693145 0.15971347 0.94501679 0.51506791]
 [0.91151782 0.2709498  0.20979806 0.8518862 ]]

In [ ]:
# perform matrix multiplication
mul = np.dot(array1, array2)
print(mul)

[[ 81 -33]
 [ 79 -39]]

In [ ]:
# perform element wise matrix multiplication
res = [[0 for x in range(len(nparr1))] for y in range(len(nparr2[0]))]

for i in range(len(array1)): 
  for j in range(len(array2[0])): 
    for k in range(len(array2)): 
      res[i][j] += array1[i][k] * array2[k][j]
 
print (res)

[[81, -33], [79, -39]]

In [ ]:
# mean of first matrix
mean = np.mean(array1)
print(mean)

5.333333333333333

In [ ]:
main_data = pd.read_csv("/content/drive/MyDrive/Sem7_ML_Data/LAB01/mtcars.csv")

In [ ]:
del main_data['model']
# meancenter
meancenter = main_data.apply(lambda e: e - e.mean())
print(meancenter.head())

        mpg     cyl        disp       hp  ...      vs       am    gear    carb
0  0.909375 -0.1875  -70.721875 -36.6875  ... -0.4375  0.59375  0.3125  1.1875
1  0.909375 -0.1875  -70.721875 -36.6875  ... -0.4375  0.59375  0.3125  1.1875
2  2.709375 -2.1875 -122.721875 -53.6875  ...  0.5625  0.59375  0.3125 -1.8125
3  1.309375 -0.1875   27.278125 -36.6875  ...  0.5625 -0.40625 -0.6875 -1.8125
4 -1.390625  1.8125  129.278125  28.3125  ... -0.4375 -0.40625 -0.6875 -0.8125

[5 rows x 11 columns]

In [3]:
# Tasks which are already performed by professor 
# Pandas Matplotlib
import numpy as np

In [4]:
alist = [1, 2, 3, 4, 5] # Define a python list. It looks like an np array
narray = np.array([1, 2, 3, 4]) # Define a numpy array

In [5]:
print(alist)
print(narray)
print(type(alist))
print(type(narray))

[1, 2, 3, 4, 5]
[1 2 3 4]
<class 'list'>
<class 'numpy.ndarray'>

In [6]:
# Numpy array vs python list

In [7]:
print(narray + narray)
print(alist + alist)

[2 4 6 8]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [8]:
print(narray * 3)
print(alist * 3)

[ 3  6  9 12]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [9]:
# Matrix or Arrays of Array

In [11]:
npmatrix1 = np.array([narray, narray, narray]) # Matrix initialized with NumPy arrays
npmatrix2 = np.array([alist, alist, alist]) # Matrix initialized with lists
npmatrix3 = np.array([narray, [1, 1, 1, 1], narray]) # Matrix initialized with both types
print(npmatrix1)
print(npmatrix2)
print(npmatrix3)

[[1 2 3 4]
 [1 2 3 4]
 [1 2 3 4]]
[[1 2 3 4 5]
 [1 2 3 4 5]
 [1 2 3 4 5]]
[[1 2 3 4]
 [1 1 1 1]
 [1 2 3 4]]

In [12]:
# Example 1:
okmatrix = np.array([[1, 2], [3, 4]]) # Define a 2x2 matrix
print(okmatrix) # Print okmatrix
print(okmatrix * 2) # Print a scaled version of okmatrix

[[1 2]
 [3 4]]
[[2 4]
 [6 8]]

In [14]:
# Example 2:
badmatrix = np.array([[1, 2], [3, 4], [5, 6, 7]]) # Define a matrix. Note the third row contains 3 elements
print(badmatrix) # Print the malformed matrix
print(badmatrix * 2) # It is supposed to scale the whole matrix

[list([1, 2]) list([3, 4]) list([5, 6, 7])]
[list([1, 2, 1, 2]) list([3, 4, 3, 4]) list([5, 6, 7, 5, 6, 7])]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray

In [15]:
# Scaling and translating matrices

In [16]:
# Scale by 2 and translate 1 unit the matrix
result = okmatrix * 2 + 1 # For each element in the matrix, multiply by 2 and add 1
print(result)

[[3 5]
 [7 9]]

In [17]:
# Add two sum compatible matrices
result1 = okmatrix + okmatrix
print(result1)
# Subtract two sum compatible matrices. This is called the difference vector
result2 = okmatrix - okmatrix
print(result2)

[[2 4]
 [6 8]]
[[0 0]
 [0 0]]

In [18]:
result = okmatrix * okmatrix # Multiply each element by itself
print(result)

[[ 1  4]
 [ 9 16]]

In [19]:
# Transpose of a matrix

In [20]:
matrix3x2 = np.array([[1, 2], [3, 4], [5, 6]]) # Define a 3x2 matrix
print('Original matrix 3 x 2')
print(matrix3x2)
print('Transposed matrix 2 x 3')
print(matrix3x2.T)

Original matrix 3 x 2
[[1 2]
 [3 4]
 [5 6]]
Transposed matrix 2 x 3
[[1 3 5]
 [2 4 6]]

In [21]:
nparray = np.array([1, 2, 3, 4]) # Define an array
print('Original array')
print(nparray)
print('Transposed array')
print(nparray.T)

Original array
[1 2 3 4]
Transposed array
[1 2 3 4]

In [23]:
nparray = np.array([[1, 2, 3, 4]]) # Define a 1 x 4 matrix. Note the 2 level of square brackets
print('Original array')
print(nparray)
print('Transposed array')
print(nparray.T)

Original array
[[1 2 3 4]]
Transposed array
[[1]
 [2]
 [3]
 [4]]

In [25]:
nparray1 = np.array([1, 2, 3, 4]) # Define an array
norm1 = np.linalg.norm(nparray1)
nparray2 = np.array([[1, 2], [3, 4]]) # Define a 2 x 2 matrix. Note the 2 level of square brackets
norm2 = np.linalg.norm(nparray2)
print(norm1)
print(norm2)

5.477225575051661
5.477225575051661

In [26]:
nparray2 = np.array([[1, 1], [2, 2], [3, 3]]) # Define a 3 x 2 matrix.
normByCols = np.linalg.norm(nparray2, axis=0) # Get the norm for each column. Returns 2 elements
normByRows = np.linalg.norm(nparray2, axis=1) # get the norm for each row. Returns 3 elements
print(normByCols)
print(normByRows)

[3.74165739 3.74165739]
[1.41421356 2.82842712 4.24264069]

In [27]:
# dot products between arrays

In [29]:
nparray1 = np.array([0, 1, 2, 3]) # Define an array
nparray2 = np.array([4, 5, 6, 7]) # Define an array
flavor1 = np.dot(nparray1, nparray2) # Way-1
print(flavor1)
flavor2 = np.sum(nparray1 * nparray2) # Way-2
print(flavor2)
flavor3 = nparray1 @ nparray2 # Way-3
print(flavor3)
# As you never should do: #Way-4
flavor4 = 0
for a, b in zip(nparray1, nparray2):
  flavor4 += a * b
print(flavor4)

38
38
38
38

In [30]:
norm1 = np.dot(np.array([1, 2]), np.array([3, 4])) # Dot product on nparrays
norm2 = np.dot([1, 2], [3, 4]) # Dot product on python lists
print(norm1, '=', norm2 )

11 = 11

In [31]:
# sum by rows and columns

In [32]:
 nparray2 = np.array([[1, -1], [2, -2], [3, -3]])
 sumByCols = np.sum(nparray2, axis = 0)
 sumByRows = np.sum(nparray2, axis = 1)
 print(f"Sum by Cols : ", sumByCols)
 print(f"Sum by Rows : ", sumByRows)

Sum by Cols :  [ 6 -6]
Sum by Rows :  [0 0 0]

In [33]:
# Get the mean by rows and cols

In [34]:
nparray2 = np.array([[1, -1], [2, -2], [3, -3]])
mean = np.mean(nparray2)
meanByCols = np.mean(nparray2, axis = 0)
meanByRows = np.mean(nparray2, axis = 1)
print(f"Matrix mean : ", mean)
print(f"Mean by Cols : ", meanByCols)
print(f"mean by Rows : ", meanByRows)

Matrix mean :  0.0
Mean by Cols :  [ 2. -2.]
mean by Rows :  [0. 0. 0.]

In [35]:
nparray2 = np.array([[1, -1], [2, -2], [3, -3]])
nparrayCentered = nparray2 - np.mean(nparray2, axis = 0)
print(f"Main matrix : ", nparray2)
print(f"Centered by cols matrix : ", nparrayCentered)
print(f"New mean by cols : ", nparrayCentered.mean(axis = 0))

Main matrix :  [[ 1 -1]
 [ 2 -2]
 [ 3 -3]]
Centered by cols matrix :  [[-1.  1.]
 [ 0.  0.]
 [ 1. -1.]]
New mean by cols :  [0. 0.]

In [36]:
nparray2 = np.array([[1, 3], [2, 4], [3, 5]])
nparrayCentered = nparray2.T - np.mean(nparray2, axis = 1)
nparrayCentered = nparrayCentered.T
print(f"Main matrix : {nparray2}")
print(f"Centered by Cols : ", nparrayCentered)
print(f"New mean by Rows : ", nparrayCentered.mean(axis = 1))

Main matrix : [[1 3]
 [2 4]
 [3 5]]
Centered by Cols :  [[-1.  1.]
 [-1.  1.]
 [-1.  1.]]
New mean by Rows :  [0. 0. 0.]